/* Reset default margin and padding */
body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em; /* Make the font bigger */
    text-align: center; /* Center the text */
    color: #2c3e50; /* Dark blue color */
    padding: 20px; /* Add some space around the text */
    margin-bottom: 40px; /* Add some space below the text */
    border-bottom: 2px solid #bdc3c7; /* Add a bottom border */
    font-weight: bold; /* Make the font bold */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: gradient 5s ease infinite;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Centering text in chart containers */

p {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Container for charts */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    transition: transform 0.5s ease;
}

/* Chart container styles */
.chart {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden; /* Ensure content doesn't overflow */
}

/* Set explicit dimensions for the charts */
#chart_div,
#genre_div,
#popularity_time_div,
#duration_popularity_div,
#top_artists_div,
#speechiness_acousticness_div {
    width: 100%;
    height: 700px; /* Set the height as needed */
    background: linear-gradient(to right, #ff6347, #4682b4, #32cd32, #8a2be2, #ff8c00);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: gradient 5s ease infinite;
}

/* Centering text in chart containers */
.chart p {
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Hover effect on charts */
.chart:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Animation for gradient background */
@keyframes gradient {
    0% {background-position: 0%;}
    100% {background-position: -100%;}
}